:root {
  /* COLORS */
  --color-brand-00: #121A26;
  --color-brand-01: #1C2834;
  --color-brand-02: #1967D2;
  --color-brand-03: #40C4FF;

  --color-highlight: #00FF0C;
  --color-light: #F0EDED;

  --color-white: #F5F5F5;
  --color-black: #040808;

  /* SIZES */
  --base-size: 4px;
  --height-header: 50px;
  --height-alert: 50px;

  /* FONTS */
  --ff-primary: 'Open Sans', sans-serif;
  --ff-primary-300: 300;
  --ff-primary-400: 400;
  --ff-primary-600: 600;
  --ff-primary-700: 700;

  /* Root Styles */
  color: var(--color-brand-01);

}
* { box-sizing: border-box; max-width: 100vw;}
html, body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: var(--color-light);
  font-family: var(--ff-primary);
  font-weight: var(--ff-primary-400);
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/**
  Helpers
*/
body .mt-3 {
  margin-top: calc(var(--base-size) *  3);
}
body .text-highlight {
  color: var(--color-highlight);
  font-size: 2.8rem;
}
body .text-center {
  text-align: center;
}

/**
  * Shared Styles
*/
.Alert,
.Header a,
.Header__brand,
.Header__brand figure,
.Header__nav {
  display: flex;
  align-items: center;
}

/**
  * Alerts
*/
.Alert {
  align-items: flex-start;
  background-color: var(--color-brand-00);
  color: var(--color-light);
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: var(--ff-primary-300);
  justify-content: center;
  padding: 0.7rem 1rem;
}
.Alert a { color: var(--color-brand-03); }
.Alert span {
  display: none;
}
.Alert strong {
  font-weight: var(--ff-primary-300);
}
@media (min-width: 550px) {
  .Alert {
    align-items: center;
    flex-direction: initial;
    font-size: 1.8rem;
    height: var(--height-alert);
    padding: 0;
  }
  .Alert span {
    display: inline-block;
    margin: 0 0.4rem;
  }
}

/**
  * Icons
*/
.Icon {
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
}
/**
  * Buttons
*/
button.active {
  background-color: var(--color-brand-02);
  color: var(--color-light);
}

/**
  * Header
*/
.Header {
  background-color: var(--color-brand-01);
  color: var(--color-light);
  display: flex;
  font-size: 1.8rem;
  height: var(--height-header);
  justify-content: space-between;
  padding-left: calc(var(--base-size) * 6);
}
.Header a { color: var(--color-light); }
.Header__brand strong {
  font-weight: var(--ff-primary-300);
}
.Header__brand figure {
  margin: 0;
  padding: 0;
}
.Header__brand figure img {
  display: inline-block;
  margin-right: calc(var(--base-size) * 6);
}
.Header__nav {
  font-size: 1.6rem;
  display: none;
}
@media (min-width: 380px) {
  .Header__nav {
    display: flex;
  }
}
.Header__nav a {
  border-radius: calc(var(--base-size));
  font-weight: var(--ff-primary-300);
  padding: 2px 8px;
  transition: background 0.2s ease-in-out;
}
.Header__nav a:hover {
  background-color: var(--color-brand-00);
}
.Header__nav a .Icon { display: inline-block; height: 2.2rem; }
.Header__nav a span { display: none }

@media (min-width: 550px) {
  .Header__nav a:not(:last-child) {
    margin-right: calc(var(--base-size) * 4);
  }
  .Header__nav a .Icon { display: none }
  .Header__nav a span { display: inline }
}

/**
  * Hero
*/
.Hero {
  background-image: url(../images/design/bg/oskar-yildiz-gy08FXeM2L4-unsplash.jpg);
  background-size: cover;
  color: var(--color-white);
  display: flex;
  min-height: calc(100vh - 100px); /** 50px header + 50px alert */
  position: relative;
  padding-top: 2.4rem;
}
@media (min-width: 550px) {
  .Hero {
    padding-top: 0;
  }
}
.Hero::before {
  background-color: var(--color-brand-01);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.Hero__content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
@media (min-width: 550px) {
  .Hero__content {
    justify-content: center;
  }
}
.Hero h1,
.Hero strong,
.Hero h2 {
  font-weight: var(--ff-primary-300);
  margin: 0;
  /* width: 100%; */
}
.Hero h1 {
  font-size: 2.2rem;
}
@media (min-width: 550px) {
  .Hero h1 {
    font-size: 6rem;
    margin-top: auto;
  }
}
.Hero strong {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}
@media (min-width: 550px) {
  .Hero strong {
    font-size: 1.8rem;
    margin-bottom: 2.6rem;
  }
}
.Hero h2 {
  font-size: 1.6rem;
}
@media (min-width: 550px) {
  .Hero h2 {
    font-size: 5.2rem;
  }
}
.Hero h3 {
  font-size: 2.8rem;
}
.Hero__footer {
  border-top: 1px solid var(--color-white);
  font-size: 1.4rem;
  font-weight: var(--ff-primary-300);
  list-style: none;
  margin: auto 0 0;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  width: 100%;
}
@media (min-width: 550px) {
  .Hero__footer {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    padding: 2.2rem;
  }
}
.Hero__footer li {
  display: inline-block;
  margin: 0;
}
.Hero__footer li a {
  border-radius: 0.4rem;
  color: var(--color-light);
  padding: .4rem .6rem;
}
.Hero__footer li a:hover {
  background-color: var(--color-brand-01);
  padding: .4rem .6rem;
}

/**
  * Sections
*/
.section {
  padding-top: 3.2rem;
}
.section__title {
  font-weight: var(--ff-primary-400);
  line-height: 1;
}
@media (min-width: 550px) {
  .section {
    padding-top: 5.6rem;
  }
  .section__header {
    display: flex;
    justify-content: space-between;
  }
  .section__title {
    font-size: 4.8rem;
  }
}

/**
  * Projects
*/
.Projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 24px;
}
@media (min-width: 550px) {
  .Projects__filter button {
    margin: 0;
  }
}
.Project a {
  color: var(--color-brand-01);
}
.Project__image {
  border-radius: 0.4rem;
  display: flex;
  margin-bottom: 0.8rem;
  overflow: hidden;
  width: 100%;
}
.Project__image img {
  width: 100%;
}
.Project__info {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
}
.Project__info strong {
  font-size: 1.8rem;
  font-weight: var(--ff-primary-400);
}

/**
  * Skills
*/
.Skills {
  display: flex;
  list-style-type: none;
}
.Skills li {
  background-color: var(--color-brand-01);
  border-radius: 0.4rem;
  color: var(--color-light);
  font-size: 1.4rem;
  font-weight: var(--ff-primary-300);
  min-width: 7.5rem;
  padding: 0.2rem 0.8rem;
  text-align: center;
}
.Skills li:not(:first-child) {
  margin-left: 2.4rem;
}

/**
  * Contact
*/
.section-Contact {
  padding-bottom: 2.4rem;
}
.section-Contact p {
  font-size: 1.6rem;
}
.section-Contact p a {
  color: var(--color-brand-00);
  text-decoration: underline;
}
@media (min-width: 550px) {
  .section-Contact {
    padding-bottom: 6.2em;
  }
  .section-Contact p {
    font-size: 2.4rem;
  }
}

/**
  * Footer
*/
.Footer {
  background-color: var(--color-brand-01);
  display: flex;
  height: 50px;
  justify-content: center;
}
.Social {
  align-items: center;
  display: flex;
  justify-content: center;
}
.Social a {
  display: flex;
  margin: 0 0.5rem;
}
