:root {
  /* COLORS */
  --color-brand-00: #121A26;
  --color-brand-01: #1C2834;
  --color-brand-02: #1967D2;
  --color-brand-03: #40C4FF;

  --color-gighlight: #00FF0C;
  --color-light: #F0EDED;

  --color-white: #F5F5F5;
  --color-black: #040808;

  /* SIZES */
  --base-size: 4px;

  /* FONTS */
  --ff-primary: 'Open Sans', sans-serif;
  --ff-primary-300: 300;
  --ff-primary-400: 400;
  --ff-primary-600: 600;
  --ff-primary-700: 700;

  /* Root Styles */
  color: var(--color-brand-01);
}

html, body {
  margin: 0;
  min-height: 100vh;
}

body {
  background-color: var(--color-light);
  font-family: var(--ff-primary);
  font-weight: var(--ff-primary-400);
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/*
  * Shared Styles
*/
.Alert,
.Header a,
.Header__brand,
.Header__brand figure,
.Header__nav {
  display: flex;
  align-items: center;
}

/*
  * Alerts
*/
.Alert {
  background-color: var(--color-brand-00);
  color: var(--color-light);
  font-size: 1.8rem;
  font-weight: var(--ff-primary-300);
  justify-content: center;
  min-height: 50px;
}
.Alert span {
  display: inline-block;
  margin: 0 0.4rem;
}
.Alert strong {
  font-weight: var(--ff-primary-300);
}

/*
  * Icons
*/
.Icon {
  display: inline-block;
  height: 3.2rem;
}

/*
  * Header
*/
.Header {
  background-color: var(--color-brand-01);
  color: var(--color-light);
  display: flex;
  font-size: 1.8rem;
  height: 50px;
  justify-content: space-between;
  padding-left: calc(var(--base-size) * 6);
}
.Header a { color: var(--color-light); }
.Header__brand strong {
  font-weight: var(--ff-primary-400);
}
.Header__brand figure {
  margin: 0;
  padding: 0;
}
.Header__brand figure img {
  display: inline-block;
  margin-right: calc(var(--base-size) * 6);
}
.Header__nav {
  font-size: 1.6rem;
}
.Header__nav a {
  border-radius: calc(var(--base-size));
  font-weight: var(--ff-primary-300);
  padding: 2px 8px;
  transition: background 0.2s ease-in-out;
}
.Header__nav a:hover {
  background-color: var(--color-brand-00);
}
.Header__nav a .Icon { display: inline-block; height: 2.2rem; }
.Header__nav a span { display: none }

@media (min-width: 550px) {
  .Header__nav a:not(:last-child) {
    margin-right: calc(var(--base-size) * 4);
  }
  .Header__nav a .Icon { display: none }
  .Header__nav a span { display: inline }
}

/*
  * Sections
*/

/*
  * Hero
*/

/*
  * Projects
*/

/*
  * Skills
*/

/*
  * Contact
*/

/*
  * Footer
*/
